body {
  padding: 0px;
  margin: 0px;
  font-family: 'Muli', sans-serif;
}

header {
  width: 100%;
  height: 60px;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(200, 200, 200, .8);

  display: flex;
  align-items: center;
}

header p {
  font-size: 30px;
  font-weight: 600;
  
  position: relative;
  left: 40px;
}

footer {
  position: relative;
  bottom: 0px;

  width: 100%;
  height: 60px;
  border: 0px;
  border-top: 1px solid;
  border-color: rgba(200, 200, 200, .8);

  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 15px;
  color: rgba(150, 150, 150, .8);
}

.container {
  margin: auto;
  max-width: 1200px;
  height: 900px;
  background-color: rgba(240, 240, 240, .5);
}

.container .chart_1 {
  background-color: royalblue;
}