:root {
  --color-blue: rgba(50, 100, 255, 1);
  --color-blue-dark: #083763;
  --color-red: rgb(209, 65, 65);
  --color-green: rgb(25, 175, 58);
}

/* Main setup with GRID */
body {
  margin-bottom: 120px;
}

body .Body {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(4, 1fr);
  /* column-gap: 5px; */
  /* row-gap: 5px; */
  margin: 20px auto;

  padding: 0%;
  width: 100%;
  height: 740px;
  border-bottom: 1px solid;
  border-color: rgba(230, 230, 230, 1);
  background-color: rgba(240, 240, 240, 1);
}

/* Basic blocks's configuration */
body .config {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: span 4;

  min-width: 100px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;


  margin: 0px 5px 5px 5px;
  background-color: rgba(180, 180, 180, 1);
  border-radius: 20px;
}

body .tvChart {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;

  min-width: 300px;
  padding: 5px;

  margin: 5px;
  background-color: rgba(100, 100, 100, 1);
  border-radius: 20px;
}

body .operator {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 4;

  min-width: 200px;

  margin: 5px 5px 5px 0px;
  background-color: rgba(180, 180, 180, 1);
  border-radius: 20px;
}

/* 
    player comming soon
body .player {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 2;

  margin: 0px 5px 5px 5px;
  background-color: rgba(150, 150, 150, 1);
  border-radius: 20px;
}
 */

/* =============================== */
/* Configuration of block 'Config' */
/* =============================== */

body .config .tableOp {
  overflow-y: scroll;
}

body .config .tableOp::-webkit-scrollbar {
  width: 5px;
  max-height: 30%;
  height: 30%;
}
body .config .tableOp::-webkit-scrollbar-track {
  background-color: rgba(200, 200, 200, 0);
  max-height: 30%;
  height: 30%;
}
body .config .tableOp::-webkit-scrollbar-thumb {
  padding: 20px;
  height: 80px;
}

.config p {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 2;

  text-align: center;
  margin: auto auto;

  color: rgba(60, 60, 60, 1);
}

.config .tableOp {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 2;

  margin: 0px 10px 15px 10px;
  min-height: 135px;

  border-radius: 15px;
}

.config .tableOp #operations_list {
  border-collapse: collapse;
  width: 100%;

  border-radius: 15px;
  background-color: rgb(230, 230, 230);
}

.config #operations_list th {
  font-size: 14px;
  color: #FFFFFF;
  height: 30px;
  width: 15%;
  background-color: var(--color-blue);
}

.config #operations_list th:last-child {
  width: 5%;
}

.config #operations_list th:nth-child(even) {
  background-color: var(--color-blue-dark);
}

.config #operations_list tr {
  height: 25px;
}

.config #operations_list tr:nth-child(odd) {
  background-color: rgba(200, 200, 200, 1);
}

.config #operations_list tr td {
  font-size: 12px;
  text-align: center;
  height: 25px;

  padding: 2px;
  margin: 0px;
  color: rgba(70, 70, 70, 1);
}

.config #operations_list tr td button {
  outline: none;
  border: none;

  width: 100%;
  height: 100%;

  margin: auto;
  padding: 0px;

  cursor: pointer;

  background-color: rgba(50, 100, 255, 0);
  background-image: url(../../pub_images/basura.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
}

.config #operations_list tr td button:active {
  transform: scale(0.90);
}


/* ================================= */
/* Configuration of block 'operator' */
/* ================================= */

.operator .status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 120px;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(100, 100, 100, 0.2);
}

.operator .status p {
  margin: 0px;
  margin-bottom: 10px;
  color: rgba(60, 60, 60, 1);
}

.operator .status .statusDIV {
  color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  max-width: 80%;
  height: 60px;
  background-color: rgba(200, 200, 200, 1);
  border-radius: 15px;

}

.operator .operations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% 30% 50%;
  height: 200px;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(100, 100, 100, 0.2);
}

.operator .operations p {
  grid-column: 1 / span 4;
  grid-row: 1 / 2;
  text-align: center;
  width: 100%;
  margin: auto auto;
  margin-bottom: 10px;
  color: rgba(60, 60, 60, 1);
}

.operator .operations input {
  text-align: center;
  grid-column: 1 / span 4;
  grid-row: 2 / 3;
  margin: auto auto;
  width: 90%;
  height: 40px;
  background-color: rgba(230, 230, 230, 1);
  box-shadow: inset 4px 4px 10px rgb(190, 190, 190),
              inset -4px -4px 10px rgb(230, 230, 230);
  border-radius: 15px;
  border: none;
  outline: none;
}

.Body .operator .btn {
  color: rgba(240, 240, 240, 1);
  margin: 10px auto;
  border-radius: 15px;
  border: none;
  outline: none;
  width: 80%;
  height: 50px;
  background-color: rgba(230, 230, 230, 1);
}
.Body .operator .btn:hover {
  cursor: pointer;
}

.Body .operator #sell {
  grid-column: 3 / span 4;
  grid-row: 3 / span 3;
  background-color: rgb(209, 65, 65);
}

.Body .operator #buy {
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  background-color: rgb(25, 175, 58);
}

.Body .operator #buy:hover, #sell:hover {
  cursor: pointer;
}

.Body .operator #buy:active, #sell:active {
  transform: scale(0.95);
}

.operator .closer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 120px;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(100, 100, 100, 0.2);
}

.operator .closer p {
  text-align: center;
  width: 100%;
  margin: 10px auto;
  margin-bottom: 10px;
  color: rgba(60, 60, 60, 1);
}

.operator .closer #close {
  background-color: rgba(100, 100, 100, 1);
  color: rgba(230, 230, 230, 1);
}

.operator .closer #close:hover {
  background-color: rgba(100, 100, 100, 1);
}

.operator .closer #close:active {
  transform: scale(0.95);
}

.operator .amountInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 120px;
  border: 0px;
}

.operator .amountInfo p {
  text-align: center;
  width: 100%;
  margin: 10px auto;
  margin-bottom: 10px;
  color: rgba(60, 60, 60, 1);
}

.operator .amountInfo .cash {
  color: rgb(50, 50, 50);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  max-width: 80%;
  height: 60px;
  background-color: rgba(200, 200, 200, 1);
  border-radius: 15px;
}
