/* Main setup with GRID */
body .Body {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 90% 10%;
  /* column-gap: 5px; */
  /* row-gap: 5px; */
  margin: 20px auto;

  padding: 0%;
  width: 100%;
  height: 740px;
  border-bottom: 1px solid;
  border-color: rgba(230, 230, 230, 1);
  background-color: rgba(240, 240, 240, 1);
}

/* Basic blocks's configuration */
body .config {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;

  min-width: 150px;

  margin: 5px 0px 5px 5px;
  background-color: rgba(180, 180, 180, 1);
  border-radius: 20px;
}

body .tvChart {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 1;

  /* min-width: 1110px; */

  margin: 5px;
  background-color: rgba(100, 100, 100, 1);
  border-radius: 20px;
}

body .operator {
  grid-column-start: 3;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;

  min-width: 200px;

  margin: 5px 5px 5px 0px;
  background-color: rgba(150, 150, 150, 1);
  border-radius: 20px;
}

body .player {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 2;

  margin: 0px 5px 5px 5px;
  background-color: rgba(150, 150, 150, 1);
  border-radius: 20px;
}

/* =============================== */
/* Configuration of block 'Config' */
/* =============================== */

.Body .config .currencies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 300px;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(100, 100, 100, 0.2);
}

.Body .config .btn {
  color: rgba(50, 50, 50, 1);
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 80%;
  height: 50px;
  background-color: rgba(230, 230, 230, 1);
}

.Body .config .btn:hover {
  color: rgba(50, 100, 255, 1);
  cursor: pointer;
}

.Body .config .btnToggleCurr {
  box-sizing: border-box;
  color: rgba(50, 100, 255, 1);
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 80%;
  height: 50px;
  background-color: rgba(230, 230, 230, 1);
  box-shadow: inset 4px 4px 10px rgba(120, 120, 120, 1),
              inset -4px -4px 10px rgba(250, 250, 250, 1);
}

.Body .config .btnToggleCurr:hover {
  cursor: pointer;
}

.Body .config .times {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid;
  width: 100%;
  height: 70px;
  border-color: rgba(100, 100, 100, 0.2);
}

.Body .config .times #time {
  padding: 0px;
  margin: 5px;
  width: 100px;
  height: 50%;
}

.Body .config .times #time:hover {
  color: rgba(50, 100, 255, 1);
}

.Body .config .btnToggleTime {
  box-sizing: border-box;
  color: rgba(50, 100, 255, 1);
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 80%;
  height: 50px;
  background-color: rgba(230, 230, 230, 1);
  box-shadow: inset 2px 2px 7px rgba(120, 120, 120, 1),
              inset -2px -2px 7px rgba(250, 250, 250, 1);
}

.Body .config .btnToggleTime:hover {
  cursor: pointer;
}

