/* Body */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(230, 230, 230, 1);
}

/* Logo */
header a img {
  position: relative;
  left: 30px;
  height: 70px;
}

/* Body of user info */

header .userInfo {
  position: absolute;
  right: 30px;
  padding: 0px;
  margin: 0px;

  width: 250px;
  height: 80px;
  background-color: rgba(240, 240, 240, 1);
  box-shadow: 5px 5px 15px #CCCCCC,
              -5px -5px 15px #FFFFFF;
  border-radius: 20px;
}

header .userInfo .avatar {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(170, 170, 170, 1);
  background-color: rgba(50, 100, 255, 1);
  border-radius: 50%;

  position: relative;
  left: 10px;
  top: 10px;
}

header .userInfo .name {
  width: 100px;
  position: relative;
  left: 80px;
  bottom: 40px;
  font-weight: 600;
}

header .userInfo .userId {
  width: 100px;
  position: relative;
  left: 80px;
  bottom: 35px;
}

header .userInfo .userMenu {
  position: relative;
  left: 190px;
  bottom: 84px;
  opacity: .8;

  width: 50px;
  height: 50px;
}

header .userInfo .userMenu img{
  position: relative;
  top: 5px;
  left: 5px;
  height: 40px;
  opacity: .7;
}