header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border: 0px;

  background-color: rgba(250, 250, 250, 1);
}

/* Logo */
header a img {
  height: 70px;
}
