:root {
  --color-blue: rgba(50, 100, 255, 1);
  --color-blue-dark: #083763;
  --color-red: rgb(209, 65, 65);
  --color-green: rgb(25, 175, 58);
}

body .main {
  margin-bottom: 40px;

  position: relative;
  top: -80px;

  width: 100%;

  z-index: 5;
}

.main .UP {
  position: fixed;
  bottom: 0px;
  right: 20px;

  width: 60px;
  height: 40px;

  background-color: rgb(25, 175, 58);
  color: #FFFFFF;

  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  visibility: hidden;
}

.main .TO {
  visibility: visible;
}

.main .TO:hover {
  cursor: pointer;
}

.main .TO:active {
  cursor: pointer;
  transform: scaleX(0.95);
}

/* ================================== */
/* ========= Slide section ========== */
/* ================================== */

.Slide {
  z-index: 5;

  width: 100%;
  height: 95vh;

  display: flex;
  justify-content: center;

  position: relative;
  top: 0px;

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 35%, rgb(240, 240, 240) 100%);
}

.main .preview {
  z-index: 15;

  position: absolute;
  top: 150px;
  left: 0px;

  width: 600px;
  height: 350px;

  background-color: #FFFFFF;

  box-shadow: 0px 5px 25px var(--color-blue-dark);
}

.main .preview img {
  position: relative;
  top: 10px;
  left: 25px;

  margin: auto;
  width: 550px;
}

.main .preview .h1 {
  position: relative;
  top: 10px;
  left: 200px;
  width: 90%;
  height: 50%;

  padding: 5px;

  margin: auto;
  /* border-radius: 10px; */

  background-color: var(--color-blue-dark);
}

.main .preview h1 {
  position: relative;
  top: 0px;

  text-align: center;
  font-size: 40px;
  font-weight: 300;

  color: #FFFFFF;
}

.main .title {
  position: absolute;
  top: 150px;
  right: 5%;

  text-align: center;

  width: 40%;
  height: 220px;
}

.main .title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-blue-dark);

  margin: 20px auto;
}

.main .title p {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-blue-dark);

  margin: 0px;
}

.main .title button {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;

  position: relative;
  top: 30px;

  margin: auto;

  width: 30%;
  height: 20%;

  border-radius: 2px;
  outline: none;
  border: 0px;

  background-color: var(--color-green);
}

.main .title button:hover {
  transform: scale(.98);
  cursor: pointer;
}

.main .title button:active {
  transform: scale(.94);
  cursor: pointer;
}

.main .Slide #arrow {
  width: 50px;
  height: 50px;

  position: absolute;
  bottom: 0px;
}

.main .Slide #arrow:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.main .Slide #arrow:active {
  transform: scale(0.9);
  cursor: pointer;
}


/* ================================== */
/* ======== Features section ======== */
/* ================================== */

body .main .FeaturesSection {
  position: relative;
  top: 0px;

  width: 100%;
  height: 700px;
  background: rgb(240, 240, 240);

  color: rgb(61, 61, 61);
}

.FeaturesSection h3 {
  position: relative;
  top: 10px;
  left: 5%;

  width: 90%;

  display: flex;
  margin: 0px;

  text-align: center;
  font-size: 60px;
  font-weight: 200;
}

.FeaturesSection .cards {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row;
}

.main .FeaturesSection .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  width: 20%;
  height: 70%;

  border-bottom: 10px solid #03203b;

  background-color: rgb(255,255,255);

  color: #666666;

  margin: 0px;

  transition: .5s;
}

.main .FeaturesSection .card:hover {
  transform: scale(1.2);
}

.main .FeaturesSection .card img {
  width: 30%;

  margin: 10px auto;
}

.main .FeaturesSection .cards .card p {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

/* ================================== */
/* ======== About Us section ======== */
/* ================================== */

.main .AboutUsSection {
  width: 100%;
  height: 700px;

  background-color: rgb(209, 65, 65);
}

/* ================================== */
/* ======== Contact us section ======== */
/* ================================== */

.main .ContacUSSection {
  width: 100%;
  height: 700px;

  background-color: rgb(57, 121, 5);
}