:root {
  --color-blue: rgba(50, 100, 255, 1);
  --color-blue-dark: #083763;
  --color-red: rgb(209, 65, 65);
  --color-green: rgb(25, 175, 58);
}

body .main {
  margin-bottom: 120px;

  position: relative;
  top: 0px;

  width: 100%;

  border: 0px;

  z-index: 5;
}

.main .UP {
  position: fixed;
  bottom: 0px;
  right: 20px;

  width: 60px;
  height: 40px;

  background-color: var(--color-blue);
  background-image: url('../../pub_images/up.png');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;

  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  visibility: hidden;
}

.main .TO {
  visibility: visible;
}

.main .TO:hover {
  cursor: pointer;
}

.main .TO:active {
  cursor: pointer;
  transform: scaleX(0.95);
}

/* ================================== */
/* ========= Slide section ========== */
/* ================================== */

.Slide {
  z-index: 5;

  width: 100%;
  height: 95vh;

  display: flex;
  justify-content: center;

  position: relative;
  top: 0px;

  border: 0px;

  background: rgb(255,255,255);
  background-image: url('../../pub_images/Nodes.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.main .preview {
  z-index: 15;

  position: absolute;
  top: 150px;
  left: 0px;

  width: 600px;
  height: 350px;

  background-color: #FFFFFF;

  box-shadow: 0px 5px 25px var(--color-blue-dark);
}

.main .preview img {
  position: relative;
  top: 10px;
  left: 25px;

  margin: auto;
  width: 550px;
}

.main .preview .h1 {
  position: relative;
  top: 10px;
  left: 200px;
  width: 90%;
  height: 50%;

  padding: 5px;

  margin: auto;
  /* border-radius: 10px; */

  background-color: var(--color-blue-dark);
}

.main .preview h1 {
  position: relative;
  top: 0px;

  text-align: center;
  font-size: 40px;
  font-weight: 300;

  color: #FFFFFF;
}

.main .title {
  position: absolute;
  top: 150px;
  right: 5%;

  text-align: center;

  width: 40%;
  height: 220px;
}

.main .title h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-blue-dark);

  margin: 20px auto;
}

.main .title p {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-blue-dark);

  margin: 0px;
}

.main .title button {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;

  position: relative;
  top: 30px;

  margin: auto;

  width: 30%;
  height: 20%;

  border-radius: 2px;
  outline: none;
  border: 0px;

  background-color: var(--color-green);
}

.main .title button:hover {
  transform: scale(.98);
  cursor: pointer;
}

.main .title button:active {
  transform: scale(.94);
  cursor: pointer;
}

.main .Slide #arrow {
  width: 50px;
  height: 50px;

  position: absolute;
  bottom: 30px;
  right: 30px;
}

.main .Slide #arrow:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.main .Slide #arrow:active {
  transform: scale(0.9);
  cursor: pointer;
}


/* ================================== */
/* ======== Features section ======== */
/* ================================== */

body .main .FeaturesSection {
  position: relative;
  top: 0px;

  width: 100%;
  height: 900px;
  background: rgb(240, 240, 240);

  border: 0px;

  color: rgb(61, 61, 61);
}

.FeaturesSection h3 {
  position: relative;
  left: 60px;
  top: 70px;

  width: 50%;

  margin: 0px;

  font-size: 60px;
  font-weight: 200;
}

.FeaturesSection .cards {
  position: relative;
  top: 80px;

  width: 100%;
  height: 60%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row;

  perspective: 1000px;
}

.FeaturesSection .cards .card-inner {
  width: 20%;
  height: 70%;

  transition: 1s;
  transform-style: preserve-3d;

  position: relative;
}

.FeaturesSection .cards .card-inner:hover {
  transform: rotateY(180deg);
}

.main .FeaturesSection .card-front, .card-back {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  border-bottom: 10px solid #03203b;

  background-color: rgb(255,255,255);

  color: #666666;

  margin: 0px;

  transition: .3s;
}

.main .FeaturesSection .card-back {
  transform: rotateY(180deg);
}

.main .FeaturesSection .card-back p {
  font-weight: 600;
  margin: 20px;
}

.main .FeaturesSection .card-front img {
  width: 30%;

  margin: 10px auto;
}

.main .FeaturesSection .cards .card-front p {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

/* ================================== */
/* ======== About Us section ======== */
/* ================================== */

.main .AboutUsSection {
  width: 100%;
  height: 800px;

  background-color: var(--color-blue-dark);

  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 20% 60% 10% 10%;
}

.AboutUsSection p {
  color: #FFFFFF;
  text-align: center;

  font-size: 30px;
  font-weight: 300;

  margin: 20px;
  margin-top: 60px;
}

.AboutUsSection h3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  color: #FFFFFF;

  font-size: 60px;
  font-weight: 200;

  margin: 70px auto 10px 10px;

  border-bottom: 2px solid #FFFFFF;
}

.AboutUsSection .img {
  position: relative;

  margin: auto;
  margin-bottom: 0px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;

  background-color: #FFFFFF;
  border-radius: 50%;

  height: 200px;
  width: 200px;

  background-image: url('../../pub_images/Cristian.png');
}

.AboutUsSection .Cristian {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../../pub_images/Cristian.png');
}

.AboutUsSection .Evert {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../../pub_images/Evert.png');
}

.AboutUsSection .Jonatan {
  grid-column: 4 / 5;
  grid-row: 2 / 3;

  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../../pub_images/Jonatan.png');
}

.AboutUsSection .aboutUsP {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.AboutUsSection .titleP {
  margin: auto;

  font-size: 20px;

  width: 100%;
}

.AboutUsSection .CristianT {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.AboutUsSection .EvertT {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.AboutUsSection .JonatanT {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.AboutUsSection .social {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.AboutUsSection .social a {
  margin: 0px 20px;

  border-radius: 50%;
}

.AboutUsSection .social a div {
  width: 30px;
  height: 30px;

  background-size: 33px;
  background-position: center;

  background-color: #FFFFFF;
  border-radius: 50%;

  box-shadow:  4px 4px 8px #04223d,
             -2px -2px 8px #0b4a85;
}

.AboutUsSection .social a div:hover {
  background-color: var(--color-blue);
  transform: scale(1.25);
}

.AboutUsSection .CristianS {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.AboutUsSection .EvertS {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.AboutUsSection .JonatanS {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.AboutUsSection .social a .twitter {
  background-image: url('../../pub_images/twitter.png');
}

.AboutUsSection .social a .github {
  background-image: url('../../pub_images/github-image.png');
}

.AboutUsSection .social a .linkedin {
  background-image: url('../../pub_images/linkedin.png');
}

/* ================================== */
/* ======== Contact us section ======== */
/* ================================== */

.main .FAQ {
  position: relative;
  top: 0px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;

  width: 100%;
  height: 700px;

  background-color: rgb(255, 255, 255);

  color: #555555;
}

.FAQ h3 {
  grid-column: 1 / span 1;
  grid-row: 1 / 2;

  width: 50%;
  height: 20%;

  margin: auto auto 30px 60px;

  font-size: 40px;
  font-weight: 300;
}

.FAQ .acordion {
  margin: auto;
  padding: 0px 20px;
  padding-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  width: 90%;

  max-height: 500px;

  background-color: #083763;

  border-radius: 15px;

  overflow: auto;
}


.FAQ .acordion::-webkit-scrollbar {
  width: 0;
}


.FAQ .acordion-item {
  border-radius: 10px;
  margin: 10px auto;

  width: 90%;
}

.FAQ .acordion-item .FAQ_Question {
  text-decoration: none;
  font-size: 20px;

  background-color: var(--color-blue-dark);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #FFFFFF;

  padding: 10px 0px;
}

.FAQ_Question .up {
  display: none;
}

.acordion-item .FAQ_Answer {
  max-height: 0px;
  overflow: hidden;
  position: relative;
  background-color: #0b3a66;

  border-bottom: 1px solid #266394;

  transition: .2s;
}

.acordion-item .FAQ_Answer::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 90%;

  background-color: var(--color-blue);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.acordion-item .FAQ_Answer p {
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 18px;

  padding: 20px;
}

.acordion-item:target .FAQ_Answer {
  max-height: 200px;
}

.acordion-item:target .down {
  display: none;
}

.acordion-item:target .up {
  display: block;
}