<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>SIM-TAC</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/index/header.css' %}">
  <link rel="stylesheet" href="{% static 'styles/index/common.css' %}">
  <link rel="stylesheet" href="{% static 'styles/index/footer.css' %}">
  <link rel="stylesheet" href="{% static 'styles/index/body.css' %}">
</head>
<body>
  <header>
    <a href="./index.html">
      <img src="{% static 'pub_images/sim_logo.png' %}" alt="sim-tac">
    </a>
    <a class="btn LogIn" href="{% url 'users:login'%}">Login</a>
    <a class="btn signUp" href="{% url 'users:signup' %}">signup</a>
  </header>
  <div class="main">

  </div>
  <footer>
    by SIM-TAC
  </footer>
</body>
</html>