<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'pub_images/Favicon.png' %}" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>SIM-TAC</title>

  <link rel="stylesheet" href="{% static 'styles/login/header.css' %}">
  <link rel="stylesheet" href="{% static 'styles/login/common.css' %}">
  <link rel="stylesheet" href="{% static 'styles/login/footer.css' %}">
  <link rel="stylesheet" href="{% static 'styles/login/body.css' %}">
</head>


<body>
  <header>
    <a href="{% url 'app:home' %}">
      <img src="{% static 'pub_images/sim_logo.png' %}" alt="sim-tac">
    </a>
  </header>
  <div class="main">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form method="POST" action="{% url 'users:login' %}">
          {% csrf_token %}
          <h1>Sign in</h1>
          {% if form.errors %}
            <div class="tryAgain">
              <p>Invalid password. Please try again!</p>
            </div>
            {% endif %}
          <input type="text" placeholder="Username" name="username"/>
          <input type="password" placeholder="Password" name="password"/>
          <button>Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Welcome Back!</h1>
            <p>You can login to your account!<br>But if you don't have one, <b>Sign Up!</b></p>
            <a href="{% url 'users:signup' %}"><button class="ghost" id="signUp">Sign Up</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    ©SIM-TAC<br>
    From Colombia &#128155 &#128153 &#10084;&#65039; to the world!
  </footer>
</body>
</html>
